<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyinsoft.common.sql.SamplePartyMapper">
  <insert id="addMember" parameterType="hashMap">
  	insert into SAMPLEPARTY (
  		SAMPLE_SEQ, MEMBER_NO, DELETE_AT
  	)
  	values (
  		#{seq, jdbcType=INTEGER}, #{memberNo, jdbcType=INTEGER}, 'N'
  	)
  </insert>
  
  <select id="samplePartyMember" parameterType="int" resultType="hashmap">
  	select MEMBER_NO, M.NAME, M.NO, M.DEPT, M.CLASSES, M.GENDER
  	from SAMPLEPARTY
  	left join MEMBER as M
  	on MEMBER_NO = M.NO
  	where DELETE_AT = 'N'
  	and SAMPLE_SEQ = #{value, jdbcType=INTEGER}
  </select>
  
  <update id="deleteMember" parameterType="hashMap">
  	update SAMPLEPARTY 
  	set DELETE_AT = 'Y'
  	where SAMPLE_SEQ = #{SEQ, jdbcType=INTEGER}
  	<if test="memberNo != null">
  		and MEMBER_NO = #{memberNo, jdbcType=INTEGER}
  	</if>
  </update>
  
  <select id="sampleList" parameterType="int" resultType="hashmap">
  	select SAMPLE_SEQ, S.TITLE, M.NAME, S.TYPE, S.CONTENT 
  	from SAMPLEPARTY
  	left join MEMBER as M
  	on MEMBER_NO = M.NO
  	left join SAMPLE as S
  	on SAMPLE_SEQ = S.SEQ
  	where MEMBER_NO = #{value}
  </select>
  
  <select id="mySamples" parameterType="hashmap" resultType="hashmap">
  	select s.SEQ, m2.NAME, s.TITLE, m.NO, s.CONTENT, s.TYPE, s.START_DATE, s.END_DATE
  	from SAMPLE s
	join SAMPLEPARTY sp on s.seq = sp.sample_seq
	join MEMBER m on sp.member_no = m.no
	join MEMBER m2 on s.member_no = m2.no
	where m.no = #{memberNo}
	and s.delete_at = 'N'
	union
	select s.SEQ, m.NAME,s.TITLE, m.NO, s.CONTENT, s.TYPE, s.START_DATE, s.END_DATE 
	from sample s
	join MEMBER m on s.member_no = m.no
	where m.no = #{memberNo}
	and s.delete_at = 'N'
  </select>
</mapper>